html
    head
        block title
            if request.path.startswith('/category/') and posts.category
                title= '分类：' + posts.category.title + ' - ' + site.title
            elif request.path.startswith('/tag/') and posts.tags
                title= '标签：' + tag + ' - ' + site.title
            elif request.args.s
                title= '搜索：' + request.args.s + ' - ' + site.title
            elif site.configs.sub_title
                title= site.title + ' - ' + site.configs.sub_title
            else
                title= site.title

        +h.headers
        +h.load('/template/style.scss')

    body
        .surface-content
            header(class='site-header u-textAlignCenter')
                .header-inner
                    h1.site-title: a(href='/')= site.title
                    p.site-description= site.configs.sub_title
            nav(class='topNav u-textAlignCenter')
                .layoutSingleColumn
                    +site.just_nav

            main.main-content
                section.blockGroup
                    for post in posts
                        article(class='block block--inset block--list')
                            h2(class='block-title post-featured'): a(href=post.url)= post.title
                            div(class='block-postMetaWrap u-textAlignCenter')
                                time=post.date.format('%m %d, %Y')
                            div(class='block-snippet block-snippet--subtitle grap')
                                if post.cover
                                    p.with-img
                                        img(src= post.cover)
                                p= post.content.limit(words=220, keep_images=false).plain
                            div.block-footer
                                if site.configs.admin_name
                                    span= site.configs.admin_name
                                if post.category 
                                    <in
                                    a(href=post.category.url)= post.category.title

                div(class='u-textAlignCenter postsFooterNav')
                    .posts-nav
                        +h.paginator(style='auto', max_count='8')

            footer(class='site-footer u-textAlignCenter')
                 a <a href="https://fatesinger.com" target="_blank">bigfa</a> theme. 