html
    head
        +h.headers
        +h.load('/template/style.scss')
        title= post.title + " - " + site.title
    body
        .surface-content
            header(class='site-header u-textAlignCenter')
                .header-inner
                    h1.site-title: a(href='/')= site.title
                    p.site-description= site.configs.sub_title
            nav(class='topNav u-textAlignCenter')
                +site.just_nav

            main.main-content
                section.section-body
                    header(class='section-header u-textAlignCenter')
                        h2.grap--h2= post.title
                        .block-postMetaWrap
                            time= post.date.format('%m %d, %Y')
                    .grap= post.content

                    if post.tags
                        .post--keywords
                            for tag in post.tags
                                a(href='/tag/{{tag}}',class='post--keyword')= tag

                    div(class='postFooterinfo u-textAlignCenter')
                        img(class='avatar',width=64,src=site.avatar)
                        h3(class='author-name')= site.configs.admin_name
                        p(class='author-description')= 'your description'

                    nav(class='navigation post-navigation')
                            if posts.previous_one
                                if posts.previous_one.cover
                                    style.
                                        .post-navigation .nav-previous { background-image: url({{posts.previous_one.cover}});}
                                        .post-navigation .nav-previous .post-title { color: #fff; }
                                        .post-navigation .nav-previous .meta-nav { color: rgba(255,255,255,.9)}
                                        .post-navigation .nav-previous:before{
                                                                        content: "";
                                                                        position: absolute;
                                                                        top: 0;
                                                                        bottom: 0;
                                                                        left: 0;
                                                                        right: 0;
                                                                        background-color: rgba(0,0,0,0.4);
                                                                    }
                                .nav-previous
                                    a(href=posts.previous_one.url)
                                        span.meta-nav= 'Previous'
                                        span.post-title= posts.previous_one.title

                            if posts.next_one
                                if posts.next_one.cover
                                    style.
                                        .post-navigation .nav-next { background-image: url({{posts.next_one.cover}});}
                                        .post-navigation .nav-next .post-title { color: #fff; }
                                        .post-navigation .nav-next .meta-nav { color: rgba(255,255,255,.9)}
                                        .post-navigation .nav-next:before{
                                                                        content: "";
                                                                        position: absolute;
                                                                        top: 0;
                                                                        bottom: 0;
                                                                        left: 0;
                                                                        right: 0;
                                                                        background-color: rgba(0,0,0,0.4);
                                                                    }
                                .nav-next
                                    a(href=posts.next_one.url)
                                        span.meta-nav= 'Next'
                                        span.post-title= posts.next_one.title

                if post.metadata.comment not in ['no', 'No', False]
                    div.comments-area
                        +post.comments_as_html()

            footer(class='site-footer u-textAlignCenter')
                 a <a href="https://fatesinger.com" target="_blank">bigfa</a> theme. 